<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Suparshva Developers, Flats in Dwarka L-Zone, Delhi NCR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimun-scale=1, maximum-scale=1, user-scalable=no" />
    <meta NAME="description" CONTENT="Suparshva Residency in L-Zone is providing a lifetime opportunity to have a dream home in Delhi with multiplying returns on your investment as we are offering property at relatively low and affordable prices with tailor made product which best suits your requirements." />
    <meta NAME="keywords" content="properties in delhi, dwarka properties, flats in dwarka, l zone dwarka, l zone projects,, dwarka l zone, property in dwarka, 2 bhk flat in dwarka, 3 bhk flat in dwarka, 4 bhk flat in dwarka, dda flats in dwarka, delhi master plan 2021, delhi & ncr properties, real estate dealers india" />
    <meta name="author" content="atulj.com" />
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="/css/flexslider.css">
    <!-- Pricing -->
    <link rel="stylesheet" href="/css/pricing.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
