</head>
<body>

<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    {{ partial "social" .}}
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="/"><img src="/img/logo.png" width="152px"/></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="{{if .IsHome }}active{{end}}"><a href="/">Home</a></li>
                        <li class="has-dropdown {{if eq .Section "overview" }}active{{end}}">
                            <a class="#" href="/overview">Overview</a>
                            <ul class="dropdown">
                                <li><a href="/philosophy">Philosophy</a></li>
                                <li><a href="/vision-and-mission">Vision & Mission</a></li>
                                <li><a href="/quality-policy">Quality Policy</a></li>
                                <li><a href="/environment-stewardship">Environmental Stewardship</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown {{if eq .Section "services" }}active{{end}}">
                            <a href="#">Services</a>
                            <ul class="dropdown">
                                <li><a href="/residential">Residential</a></li>
                                <li><a href="/commercial">Commercial</a></li>
                                <li><a href="/leasing-and-rental">Leasing & Rentals</a></li>
                                <li><a href="/investments">Investments</a></li>
                            </ul>
                        </li>
                        <li class="{{if eq .Section "project" }}active{{end}}">
                            <a href="/suparshva-residency">Project</a>
                        </li>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a target="_blank" href="/brochure.pdf">Brochure</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="fh5co-loader">
</div>
<div id="page">
